
@{
    ViewBag.Title = "WeatherJs";
}
<h2>WeatherJs</h2>
<p id="reply">
    <button>Get Weather</button>
</p>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("http://api.openweathermap.org/data/2.5/weather?q=Cleveland&APPID=1f630ef81159132ae0101b24851e5f6e&units=imperial", function (response) {
            });
        });
    });
</script>
