
@{
    ViewBag.Title = "WeatherOrNot";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="col-lg-12">
    <h1>Current Condition is of Your City <span data-bind="text:name"></span> is </h1>
</div>
<div class="col-lg-12">
    <p>Humidity in Air is  <span data-bind="text:main.humidity"></span>&nbsp;g/m<sup>3</sup> </p>
</div>
<div class="col-lg-12">
    <p>Weather is  <span data-bind="text:weather.name">&nbsp;</span> </p>
</div>
<script>
    var weather = Object();
    $(document).ready(function () {

            $.get("@Url.Action("GetWeather","Home")", function (response) {
                console.log(response);
                weather = ko.mapping.fromJS(response);
                ko.applyBindings(weather);


        });
    });
</script>
